.container {
  text-align: center;
}

.weather,
.weather2 {
  margin: 0 auto;
}

.weather,
.weather2 li {
  list-style: none;
}

.weather {
  text-align: center;
  max-width: 150px;
}

.weather2 {
  text-align: left;
  max-width: 400px;
  border: 1px solid navy;
  border-radius: 3px;
}

.Search {
  color: black;
  border-radius: 2px;
  line-height: 30px;
}

.Submit {
  background-color: cornflowerblue;
}

.temperature {
  font-size: 50px;
}

.icon {
  display: inline-block;
}

.F,
.C {
  color: burlywood;
  font-weight: 700;
  text-decoration: none;
}

.F:hover,
.C:hover {
  color: coral;
  font-weight: 700;
}
