.WeatherForecast {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
  max-width: 900px;
  border: 1px solid lightblue;
  border-radius: 3px;
}

.WeatherForecast-Temperature-max {
  font-size: 20px;
}

.WeatherForecast-Temperature-min {
  color: dodgerblue;
  font-weight: 600;
}
